/* Fonts Imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: 'Lato', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif; */

/* Variables to make changes easier */
:root {
  --primarycolor: #18280d;
  --secondary-color: #7c3626;
  --thirdcolor: #f5853f;
  --fourthcolor: #f7f3e3;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

/* General and Utility Styles - Should not change */
body {
  background-color: var(--secondary-color);
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.button {
  background-color: var(--thirdcolor);
  border: 2px solid var(--secondary-color);
  color: var(--fourthcolor);
  padding: 6px 16px;
  text-transform: uppercase;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
  display: inline-block;
  border-radius: 20px;
}

.button:hover {
  background-color: var(--thirdcolor);
  color: var(--fourthcolor);
}

h1,
h2,
h3,
h4 {
  color: var(--fourthcolor);
}

p,
li,
a,
label {
  color: var(--fourthcolor);
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.logo-image {
  width: 70px;
  height: auto;
  padding: 5px 0px;
}

/* Mobile Styles */

/* Grid Layout */

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

/* Site Nav Style */

header {
  background-color: var(--primarycolor);
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  position: absolute;
  background-color: var(--primarycolor);
  width: 100%;
  left: 0;
  padding: 5px;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
}

/* Site Nav toggle */
#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/* Hero Section Style */

#hero {
  background: url("../images/burger.jpg") center / cover;
  /* overflow: hidden; */
  height: 70vh;
  padding: 10px;
  /* position: relative;
  top: 141px; */
}

.hero {
  display: grid;
}

.hero .leading-text {
  font-size: 200%;
  grid-column: 1/2;
  /* padding-top: 360px; */
  justify-content: center;
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 8px;
  margin-bottom: 5px;
}

.hero .secondary-text {
  padding-top: 5px;
  padding-bottom: 10px;
  grid-column: 1/2;
  justify-content: center;
}

.hero .button {
  grid-column: 1/2;
  width: fit-content;
}

/* About Us Styles */

#about {
  padding: 20px;
  background: var(--primarycolor);
}

#about p {
  grid-column: 1/2;
}

/* Services Styles */

#services {
  background: var(--secondary-color);
  color: var(--fourthcolor);
  padding: 20px;
}

.services {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.services img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 0px 6px 8px -2px rgba(255, 255, 255, 0.2);
}

/* Contact Form Styles */

#contact {
  background: var(--primarycolor);
  color: var(--fourthcolor);
  padding: 20px;
}

.contact {
  grid-column: 1/2;
  padding-bottom: 20px;
}

#contact form {
  width: 90%;
  max-width: 400px;
}

.text-input,
.input,
textarea {
  background-color: var(--fourthcolor);
  color: var(--primarycolor);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

/* Footer Styles */

footer {
  padding: 10px;
}

#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: var(--fourthcolor);
}

/* Tablet Styles */
@media screen (min-width: 620px) {
}

/* Laptops & Large Tablets */
@media screen (min-width: 960px) {
}

/* Larger Styles */
@media screen (min-width: 1200px) {
}
